.main-content-index{
    display: flex;
    flex-direction: column;
    gap: 50px;

    .product-contents{
        width: 95%;
        display: grid;
        grid-template-columns: repeat(5, 277px);
        gap: 20px;
        margin: auto;

    }
}