.order-item-container{
    padding: 0px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .order-item-left-side{
        width: 55%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        .order-number-container{
            h3{
                font-weight: bold;
            }
        }
        .bot-path-container{
            width: 50%;
            h3{
                font-size: 25px;
            }
        }
    }
    .order-item-right-side{
        width: 23%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .products-list-order-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            .product-item-container{
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-around;

                h3{
                    font-size: 25px;
                }

                .product-name-order{
                    font-weight: bold;
                }
            }
        }

        .total-price-order-container{
            width: 20%;
            display: flex;
            align-items: center;
            justify-content: center;

            h2{
                font-weight: bold;
            }
        }
    }
}